{% extends 'datashare/base.html' %}
{% block title  %}{{ title }}{% endblock %}
{% block contents %}
    <p>{{ msg | safe }}</p>
    <table border="1" style="border-collapse: collapse; border-color: ■000000">
        <tr>
            <th>ID</th>
            <th>Sender</th>
            <th>Project</th>
            <th>Message</th>
            <th>Document</th>
            <th>Date</th>
        </tr>
    {% for item in pub_message_list %}
        <tr>
            <!-- リスト4-23:修正 -->
            <!-- <td>{{ item.id }}</td> -->
            <td><a href="{% url 'datashare:edit' item.id %}">Edit ID = {{ item.id }}</a></td>

            <td>{{ item.sender }}</td>
            <td>{{ item.project }}</td>
            <td>{{ item.send_message }}</td>
            <td><a href="http://localhost:8000/media/{{ item.send_document }}">
                {{ item.send_document }}</a></td>
            <td>{{ item.send_date }}</td>
        </tr> 
    {% endfor %}
    </table>
    <p>
        <a href="{% url 'datashare:publish_db' %}">投稿サイト(DB接続)へ</a>
    </p>
{% endblock %}

<!-- リスト4-15:templates/datashare/mypage_db.html -->
    <!-- <p><a href="% url goto_publish_db %">投稿サイトへ(DB接続)</a>  -->
        <!-- <a href="% url goto_index %">Indexへ戻る</a></p> -->
        <!-- リスト4-19:修正 -->
